<div id="myModal" class="modal-cart">
  <div class="modal-body">
      
    <span class="modal-close">&times;</span>
    
    <div class="modal-content">
        <table class="table">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody id="modal-table">

            </tbody>
        </table>
    </div>

  </div>
</div>