<div id="myModal" class="modal-cart">
    <div class="modal-body" style="width: 30rem;">
        
      <span class="modal-close">&times;</span>
      
      <div class="modal-content">
          <div class="container">
              <div class="row justify-content-center">
                  <div class="col-md-12">

                      <h2>Currency</h2>
        
                      <select name="" id="" class="modal-select">
                          <option value=""></option>
                      </select>
                  </div>
              </div>
          </div>
      </div>
  
    </div>
  </div>